<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOBz4GqIOuLN9bTUYNDERpz8CeiysiAJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>470593170402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qsales</string>
	<key>PROJECT_ID</key>
	<string>qsales-64924</string>
	<key>STORAGE_BUCKET</key>
	<string>qsales-64924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470593170402:ios:1d63d15deab0245ac7a7bb</string>
</dict>
</plist>